$mainFont: 'Roboto', sans-serif;
$black:#1d1d1d;
$white:white;
$gray:#767676;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .wrapper {
    max-width: 1382px;
    margin: 0 auto;
    padding: 0 20px;
  }
  //header
  .header-first{
      padding: 30px 0;
  }
  .wrapper-header{
    max-width: 1163px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header{
    background-color: $white;
    position: sticky;
    top: 0;
  }
  .header-wrapper{
    border-top: .5rem solid black;
  }
  h1{
    font-weight: 700;
    font-family: $mainFont;
    font-size: 45px;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
  }
  
  .nav-right{
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    a{
    color: rgb(207, 207, 207);
    margin-left: 20px;
    }   
  }
  .svg-inline--fa{
    font-size: 20px;
  }
  .header-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    a{
    color: $black;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    font-family: $mainFont;
    letter-spacing: 2px;
    }
  }

  //main

  .product-img{
    width:100%;
  }
  @mixin img-container {
    background-position:center center;
    background-size:cover;
    height: 418px;
  }
  .img-container1{
    background-image: url(../assets/img/winter.jpg);
    @include img-container();
  }
  .img-container2{
    background-image: url(../assets/img/glasses.jpg);
    @include img-container();
  }
  .img-container3{
    background-image: url(../assets/img/CHANEL_GABRIELLE.jpg);
    @include img-container();
  }
  .img-container4{
    background-image: url(../assets/img/ONE_hp_corpo_desk.jpg);
    @include img-container();
  }
  .img-container5{
    background-image: url(../assets/img/clock.jpg);
    @include img-container();
  }
  .img-container6{
    background-image: url(../assets/img/flower.jpg);
    @include img-container();
  }
  .img-container7{
    background-image: url(../assets/img/jewerly.jpg);
    @include img-container();
  }
  .img-container8{
    background-image: url(../assets/img/HP_CORPO_ONE.jpg);
    @include img-container();
  }
  .img-container9{
    background-image: url(../assets/img/wedding.jpg);
    @include img-container();
  }
  .img-container10{
    background-image: url(../assets/img/BA-HP-ONE-DESK.jpg);
    @include img-container();
  }
  .product-container1,.product-container2,.product-container3,.product-container4,.product-container5,.product-container6,.product-container7,.product-container8,.product-container9,.product-container10{
    padding-top: 200px;
    max-width: 580px;
    margin: 0 auto;
  }
  //product text styles
  @mixin productFont {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-family: $mainFont;
    font-weight: 700;
  }
  .product-small{
    @include productFont();
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    font-size: .75rem;
    letter-spacing: .0625rem; 
  }
  .product-title{
    @include productFont();
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    font-size: 1.875rem;
    margin: 20px 0;
  }
  .product-btn--white{
    @include productFont();
    display: block;
    background-color: $white;
    border-color: $white;
    width: 120px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: $black !important;
    font-size: .75rem;
    letter-spacing: .0625rem;
    margin: 0 auto;
  }
  .btn-transparent{
    @include productFont();
    display: block;
    background-color: transparent;
    border:2px solid $white;
    width: 120px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: $white !important;
    font-size: .75rem;
    letter-spacing: .0625rem;
    margin: 0 auto;
  }
  //form
  .pannel-container{
    justify-content: space-between;
    padding: 68px 0;
  }
  .pannel{
    max-width: 400px;
    input{
      margin-top: 40px;
    }
  }
  .pannel-title{
    @include productFont();
    color: $black;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
  }
  .pannel-text{
    font-family: $mainFont;
    font-weight: 400;
    font-size: .875rem;
    color: $gray;
    letter-spacing: .00625rem;
    a{
    font-family: $mainFont;
    font-weight: 400;
    font-size: .875rem;
    color: $gray;
    letter-spacing: .00625rem;
    text-decoration: underline;
    }
  }
  .panel-contact{
    display: flex;
    margin-top: 30px;
    a{
      font-family: $mainFont;
      font-weight: 400;
      font-size: .875rem;
      color: $black;
      letter-spacing: .00625rem;
      text-decoration: underline; 
      margin-right: 20px;
    }
  }
  #search, #email{
    outline: none;
    border: none;
    border-bottom: 1px solid $gray;
    max-width: 226px;
    width: 100%;
  }
  .geolocation{
    color: $black ;
    margin-left: 20px;
    &:hover{
      color: $black;
    }
  }
  .pannel-submit-button{
    border:none;
    outline: none;
    background-color: transparent;
    font-family: $mainFont;
    font-weight: 700;
    font-size: .7rem;
    color: $gray;
  }

  //footer
  .footer{
    background-color: black;
  }

  .footer-nav h2{
    @include productFont();
    text-align: left;
    font-size: .875rem;
    padding: 58px 0 18px 0;
  }
  .footer-nav li{
    margin-bottom: 10px;
  }
  .footer-nav a{
    font-family: $mainFont;
    font-size: .875rem;
    font-weight: 100;
    color: $gray;
    &:hover{
      text-decoration: underline;
    }
  }

  hr{
    height: 1px;
    color: $gray;
    margin:  0;
  }
  .social-container{
    padding: 30px 0 18px 0;
  }
  .soc-text{
    font-family: $mainFont;
    font-size: .8rem;
    font-weight: 100;
    color: $gray;   
  }
  .language-modal{
    font-family: $mainFont;
    font-size: .8rem;
    font-weight: 100;
    color: $white; 
    margin-left: 10px;
  }
.socal-links{
  display: flex;
  max-width: 200px;
  a{
    margin-right: 10px;
  }
}
.facebook img{
  width: 20px;
  height: 20px;
}